<!DOCTYPE html>
<html>
  <head>
    <title>应用</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>应用</h1>
    <pre>
<%- data %>
    </pre>
    <a href="https://你的应用域名.authing.cn/login/profile/logout?redirect_uri=https://你的应用域名.authing.cn">登出</a>
  </body>
</html>
